
caption
{
  border-radius:30px 30px 0 0;
  background: #666666;
  padding:25px;
  font-size: 25px;
  color: #ffffff;
  font-family:Times;
}
table{
    background: #01A900;
    border-radius: 15px;
    border-radius:  0 0 25px 25px;
    margin: 10px;
    padding:10px;
    border: 2px solid black;
}
tr:nth-child(odd){
  background: #F2F2F2;
}
tr:nth-child(even){
  background:#CDBB79;
}

th,td,tr{
  margin:50px;
  padding:25px;
}
th{
  text-align: center;
}
span{
  display: block;
  text-align: center;
  color: #800000;
  visibility: hidden;
  font-size: 10px;

}
td:hover>span{
  visibility: visible;
}

}
.last{
  padding:0;
  margin:0;
  color:white;
  background-color: #51A39D;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/389177/holiday.png") no-repeat;
}
.holiday{
	margin:0;
	padding:0;
	background-color: #51A39D;
}
  h1{
  transition:translate(5,5);
  font-variant:small-caps;
  font-size: 70px;
  }
  th{
    background: #F29898;
    border-radius: 5px;
  }
  tr,td{
    border-radius: 5px;

  }
  body{
    width:125px;
    height:150px;
  }
